@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  /*Added features*/
  background-color: #FEFDED;
}

header {
  padding: 10px 20px;
  /*Added features*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C6EBC5;
}

.logo {
  width: 150px;
  padding: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #920B4C;
  font-size: 25px;
  font-weight: 400;
  padding: 10px;
}

a:hover {
  border-bottom: 5px solid #920B4C;
}

.intro {
  margin: 10px;
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

main {
  /* adjust the padding */
  /* set the min-height into 80vh */
  padding: 20px;
  min-height: 80vh;
}

.service {
  /* adjust the layout using flex */
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 700px;
  background-color: #C6EBC5;
  border-radius: 10px;
  padding: 30px;
}

.tile-info {
  padding: 20px;
  text-align: center;
  font-size: 15px;
}

.tile-info > h2 {
  margin-bottom: 10px;
}

.tile-image > img {
  width: 500px;
}
/* add some design for you footer */
footer {
  padding: 20px;
  text-align: center;
  color: #920B4C;
}

